<h1>Adicionar usuário</h1>
<form action="/users/create" method="post" class="form">
    <section class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o nome do usuário">
    </section>

    <section class="form-control">
        <label for="occupation">Profissão:</label>
        <input type="text" name="occupation" placeholder="Digite a profissão do usuário">
    </section>

    <section class="form-checkbox">
        <input type="checkbox" name="newsletter" checked>
        <label for="newsletter">Enviar promoções?</label>
    </section>

    <section class="form-control">
        <input type="submit" value="Cadastrar">
    </section>
</form>